@model Tutoring.Models.HomeIndexViewModel;



<div class="text-center">
    <h1 class="display-2">Witaj</h1>
    <h2>w Tutoring</h2>
</div>
<div class="row flex-column m-1 my-5 bg-primary bg-gradient rounded justify-content-center">
    <h4 class="col-2 align-self-center text-center py-3">Korepetycje</h4>

    @if (Context.User.Identity.IsAuthenticated)
    {
        <a class="col-2 align-self-center btn btn-sm btn-info text-dark" asp-controller="Tutoring" asp-action="Add">Nowa korepetycja</a>
    }
    <div class="col justify-content-center mx-1 my-3">
        <div class="list-group rounded">
            @for (int i = 0; i < Model.Tutorings.Count; i++)
            {
                var tutoring = Model.Tutorings.ElementAt(i);
                <a asp-action="Index" asp-controller="Tutoring" asp-route-id="@tutoring.Id" class="list-group-item list-group-item-action list-group-item-primary text-center">
                    <div class="row">
                        <div class="col-1">@($"{i+1}.")</div>
                        <div class="col-3">@tutoring.Title</div>
                        <div class="col-5 text-truncate">@tutoring.Description</div>
                        <div class="col-3">@tutoring.Author.Fullname</div>
                    </div>
                </a>
            }
        </div>
    </div>
</div>
<div class="row flex-column  m-1 my-5 bg-info bg-gradient rounded justify-content-center">
    <h4 class="col-2 align-self-center text-center py-3">Tutoriale</h4>
    @if (Context.User.Identity.IsAuthenticated)
    {
        <a class="col-2 btn btn-sm btn-primary mx-auto" asp-controller="Tutorial" asp-action="Add">Nowy Tutorial</a>
    }
    <div class="col justify-content-center mx-1 my-3">
        <div class="list-group rounded">
            @*<table class="table table-primary table-striped table-hover rounded">
                    @for (int i = 0; i < Model.Tutorials.Count; i++)
                    {
                        var tutorial = Model.Tutorials.ElementAt(i);
                        <tr class="text-center">
                            <td>@($"{i+1}.")</td>
                            <td>@tutorial.Title</td>
                            <td>@tutorial.Description</td>
                            <td>@tutorial.Author.Fullname</td>
                        </tr>
                    }
                </table>*@
            @for (int i = 0; i < Model.Tutorials.Count; i++)
            {
                var tutorial = Model.Tutorials.ElementAt(i);
                <a asp-action="Index" asp-controller="Tutorial" asp-route-id="@tutorial.Id" class="list-group-item list-group-item-action list-group-item-info text-center">
                    <div class="row">
                        <div class="col-1">@($"{i+1}.")</div>
                        <div class="col-3">@tutorial.Title</div>
                        <div class="col-5 text-truncate">@tutorial.Description</div>
                        <div class="col-3">@tutorial.Author.Fullname</div>
                    </div>
                </a>
            }

        </div>
    </div>
</div>
