@model Tutoring.Models.TutoringVM.LessonViewModel

@{
    ViewData["Title"] = Model.Title;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="flex-column">
    <h2 class="text-center">@Model.Title</h2>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10 text-wrap text-truncate">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Author.Fullname)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Author.Fullname)
        </dd>
    </dl>
    <div class="row flex-column">
        @foreach (var content in Model.Content)
        {
            switch (content.ContentType)
            {
                case Tutoring.Models.Db.Models.ContentType.Text:
                    <p class="text-wrap">@content.Content</p>
                    break;
                case Tutoring.Models.Db.Models.ContentType.Image:
                    <img class="mx-auto my-2" src="~/images/@(content.Content)" />
                    break;
                default:
                    break;
            }
        }
    </div>

    <div class="flex-column align-items-center">
        <div class="mt-5">
            <paging class-paging-control-div="col" class-paging-control="pagination justify-content-center" page-no="@Model.CurrentLesson"
                    page-size="1"
                    total-records="@Model.TotalLessonNumber"
                    query-string-key-page-no="lessonId"
                    show-page-size-nav="false"
                    show-total-records="false"
                    show-total-pages="false">
            </paging>
        </div>
        <div class="row justify-content-center">
            <a class="btn btn-sm btn-secondary" asp-controller="Tutoring" asp-action="Index" asp-route-id="@Context.Request.Query["tutoringId"]">Back to Tutoring</a>
        </div>
    </div>
</div>
